<div class="container-fluid">

	<h1 style="text-align:center;">Pokedex</h1>
	<button id="all" onclick="pokedexInit('none', 'none');">All</button>
	<button id="normal" onclick="pokedexInit('type', 'Normal');">Normal</button>
	<button id="fighting" onclick="pokedexInit('type', 'Fighting');">Fighting</button>
	<button id="flying" onclick="pokedexInit('type', 'Flying');">Flying</button>
	<button id="poison" onclick="pokedexInit('type', 'Poison');">Poison</button>
	<button id="ground" onclick="pokedexInit('type', 'Ground');">Ground</button>
	<button id="rock" onclick="pokedexInit('type', 'Rock');">Rock</button>
	<button id="bug" onclick="pokedexInit('type', 'Bug');">Bug</button>
	<button id="ghost" onclick="pokedexInit('type', 'Ghost');">Ghost</button>
	<button id="steel" onclick="pokedexInit('type', 'Steel');">Steel</button>
	<button id="fire" onclick="pokedexInit('type', 'Fire');">Fire</button>
	<button id="water" onclick="pokedexInit('type', 'Water');">Water</button>
	<button id="grass" onclick="pokedexInit('type', 'Grass');">Grass</button>
	<button id="electric" onclick="pokedexInit('type', 'Electric');">Electric</button>
	<button id="psychic" onclick="pokedexInit('type', 'Psychic');">Psychic</button>
	<button id="ice" onclick="pokedexInit('type', 'Ice');">Ice</button>
	<button id="dragon" onclick="pokedexInit('type', 'Dragon');">Dragon</button>
	<button id="dark" onclick="pokedexInit('type', 'Dark');">Dark</button>
	<button id="fairy" onclick="pokedexInit('type', 'Fairy');">Fairy</button>
	
	<div class="row pokedex"></div>

		

</div>

<script type="text/javascript">
var scope = angular.element($('#pokemon1type1')).scope();

function pokedexInit(filterType, filter){
	$('.pokedex').empty();
	for(var p = 0; p < 151; p++){
		if(pokedexFilter(filterType, filter, p) == 1){
			var name = scope.pokemon[p].name;
			var entry = "<div class='col-xs-4'><a class='pokedexEntry' href='#' onclick='var id = $(this).find(\"> span\").html();pokedexPopUp(id);'>#<span class='id'>" + scope.pokemon[p].id + " </span>" + scope.pokemon[p].name + "</a></div><div class='col-xs-4'><span class='pokemonType pokedexType1'>" + scope.pokemon[p].types[0] + "</span> ";
			if(scope.pokemon[p].types[1]){
				entry = entry + " / <span class='pokemonType pokedexType2'>" + scope.pokemon[p].types[1] + "</span></div>";
			} else {
				entry = entry + "</div>"
			}

			entry = entry + "<div class='col-xs-4'>" + scope.pokemon[p].HP + "/" + scope.pokemon[p].Atk + "/" + scope.pokemon[p].Def + "/" + scope.pokemon[p].SpAtk + "/" + scope.pokemon[p].SpDef + "/" + scope.pokemon[p].Spd + "</div>"

			$('.pokedex').append(entry);

			var pokedexType1 = $('.pokedexType1');
			var m = pokedexType1.html();
		    if(m == 'Normal'){pokedexType1.css('background-color', '#A8A878');}
		    else if(m == 'Fighting'){pokedexType1.css('background-color', '#C12D25');}
		    else if(m == 'Flying'){pokedexType1.css('background-color', '#A890F0');}
		    else if(m == 'Poison'){pokedexType1.css('background-color', '#A040A0');}
		    else if(m == 'Ground'){pokedexType1.css('background-color', '#E0C068');}
		    else if(m == 'Rock'){pokedexType1.css('background-color', '#B8A038');}
		    else if(m == 'Bug'){pokedexType1.css('background-color', '#A8B820');}
		    else if(m == 'Ghost'){pokedexType1.css('background-color', '#705898');}
		    else if(m == 'Steel'){pokedexType1.css('background-color', '#B8B8D0');}
		    else if(m == 'Fire'){pokedexType1.css('background-color', '#F08030');}
		    else if(m == 'Water'){pokedexType1.css('background-color', '#6890F0');}
		    else if(m == 'Grass'){pokedexType1.css('background-color', '#78C850');}
		    else if(m == 'Electric'){pokedexType1.css('background-color', '#F8D030');}
		    else if(m == 'Psychic'){pokedexType1.css('background-color', '#F85888');}
		    else if(m == 'Ice'){pokedexType1.css('background-color', '#98D8D8');}
		    else if(m == 'Dragon'){pokedexType1.css('background-color', '#7038F8');}
		    else if(m == 'Dark'){pokedexType1.css('background-color', '#705848');}
		    else if(m == 'Fairy'){pokedexType1.css('background-color', '#FF65D5');}
		    pokedexType1.removeClass('pokedexType1');

		    var pokedexType2 = $('.pokedexType2');
		    var m = pokedexType2.html();
		    if(m == 'Normal'){pokedexType2.css('background-color', '#A8A878');}
		    else if(m == 'Fighting'){pokedexType2.css('background-color', '#C12D25');}
		    else if(m == 'Flying'){pokedexType2.css('background-color', '#A890F0');}
		    else if(m == 'Poison'){pokedexType2.css('background-color', '#A040A0');}
		    else if(m == 'Ground'){pokedexType2.css('background-color', '#E0C068');}
		    else if(m == 'Rock'){pokedexType2.css('background-color', '#B8A038');}
		    else if(m == 'Bug'){pokedexType2.css('background-color', '#A8B820');}
		    else if(m == 'Ghost'){pokedexType2.css('background-color', '#705898');}
		    else if(m == 'Steel'){pokedexType2.css('background-color', '#B8B8D0');}
		    else if(m == 'Fire'){pokedexType2.css('background-color', '#F08030');}
		    else if(m == 'Water'){pokedexType2.css('background-color', '#6890F0');}
		    else if(m == 'Grass'){pokedexType2.css('background-color', '#78C850');}
		    else if(m == 'Electric'){pokedexType2.css('background-color', '#F8D030');}
		    else if(m == 'Psychic'){pokedexType2.css('background-color', '#F85888');}
		    else if(m == 'Ice'){pokedexType2.css('background-color', '#98D8D8');}
		    else if(m == 'Dragon'){pokedexType2.css('background-color', '#7038F8');}
		    else if(m == 'Dark'){pokedexType2.css('background-color', '#705848');}
		    else if(m == 'Fairy'){pokedexType2.css('background-color', '#FF65D5');}
		    pokedexType2.removeClass('pokedexType2');
		}
	}
}

function pokedexFilter(filterType, filter, id){
	if(filterType == 'none'){
		return 1;
	} else if(filterType == 'type'){
		if(scope.pokemon[id].types[0] == filter || scope.pokemon[id].types[1] == filter){
			return 1;
		} else{
			return 0;
		}
	}
}


function pokedexPopUp(id){
	id = parseInt(id) - 1;
	if(scope.pokemon[id].types[1]){
		$.colorbox({html:"<div class='container'><div class='row'><h1 style='text-align:center;'>" + scope.pokemon[id].name + "</h1><div class='col-sm-4'><img src='" + scope.pokemon[id].image + "' class='pokedexImg'><span class='pokemonType popupType1'>" + scope.pokemon[id].types[0] + "</span> / " + "<span class='pokemonType popupType2'>" + scope.pokemon[id].types[1] + "</span></div><div class='col-sm-8'></div></div></div>" ,width:"80%", height:"80%"});
	} else {
		$.colorbox({html:"<div class='container'><div class='row'><h1 style='text-align:center;'>" + scope.pokemon[id].name + "</h1><div class='col-sm-4'><img src='" + scope.pokemon[id].image + "' class='pokedexImg'><span class='pokemonType popupType1'>" + scope.pokemon[id].types[0] + "</span>" + "</div><div class='col-sm-8'></div></div></div>" ,width:"80%", height:"80%"});
	}

	var popupType1 = $('.popupType1');
	var n = popupType1.html();
    if(n == 'Normal'){popupType1.css('background-color', '#A8A878');}
    else if(n == 'Fighting'){popupType1.css('background-color', '#C12D25');}
    else if(n == 'Flying'){popupType1.css('background-color', '#A890F0');}
    else if(n == 'Poison'){popupType1.css('background-color', '#A040A0');}
    else if(n == 'Ground'){popupType1.css('background-color', '#E0C068');}
    else if(n == 'Rock'){popupType1.css('background-color', '#B8A038');}
    else if(n == 'Bug'){popupType1.css('background-color', '#A8B820');}
    else if(n == 'Ghost'){popupType1.css('background-color', '#705898');}
    else if(n == 'Steel'){popupType1.css('background-color', '#B8B8D0');}
    else if(n == 'Fire'){popupType1.css('background-color', '#F08030');}
    else if(n == 'Water'){popupType1.css('background-color', '#6890F0');}
    else if(n == 'Grass'){popupType1.css('background-color', '#78C850');}
    else if(n == 'Electric'){popupType1.css('background-color', '#F8D030');}
    else if(n == 'Psychic'){popupType1.css('background-color', '#F85888');}
    else if(n == 'Ice'){popupType1.css('background-color', '#98D8D8');}
    else if(n == 'Dragon'){popupType1.css('background-color', '#7038F8');}
    else if(n == 'Dark'){popupType1.css('background-color', '#705848');}
    else if(n == 'Fairy'){popupType1.css('background-color', '#FF65D5');}

    var popupType2 = $('.popupType2');
    var m = popupType2.html();
    if(m == 'Normal'){popupType2.css('background-color', '#A8A878');}
    else if(m == 'Fighting'){popupType2.css('background-color', '#C12D25');}
    else if(m == 'Flying'){popupType2.css('background-color', '#A890F0');}
    else if(m == 'Poison'){popupType2.css('background-color', '#A040A0');}
    else if(m == 'Ground'){popupType2.css('background-color', '#E0C068');}
    else if(m == 'Rock'){popupType2.css('background-color', '#B8A038');}
    else if(m == 'Bug'){popupType2.css('background-color', '#A8B820');}
    else if(m == 'Ghost'){popupType2.css('background-color', '#705898');}
    else if(m == 'Steel'){popupType2.css('background-color', '#B8B8D0');}
    else if(m == 'Fire'){popupType2.css('background-color', '#F08030');}
    else if(m == 'Water'){popupType2.css('background-color', '#6890F0');}
    else if(m == 'Grass'){popupType2.css('background-color', '#78C850');}
    else if(m == 'Electric'){popupType2.css('background-color', '#F8D030');}
    else if(m == 'Psychic'){popupType2.css('background-color', '#F85888');}
    else if(m == 'Ice'){popupType2.css('background-color', '#98D8D8');}
    else if(m == 'Dragon'){popupType2.css('background-color', '#7038F8');}
    else if(m == 'Dark'){popupType2.css('background-color', '#705848');}
    else if(m == 'Fairy'){popupType2.css('background-color', '#FF65D5');}
}

</script>

